torch
auto-gptq
packaging
peft 
transformers 
bitsandbytes>=0.41.1
accelerate 
deepspeed
addict
fire
PyYAML
datasets
flash-attn
sentencepiece
wandb
einops
xformers>=0.0.22
optimum
hf_transfer
colorama
numba
numpy
# qlora things
bert-score
evaluate
rouge-score
scipy
scikit-learn
pynvml
art
fschat
